
@{
    ViewData["Title"] = "Index";
    Layout="_SystemLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="panel panel-default" style="min-height:500px;">
    <div class="panel-body">
        这是一个基本的面板
    </div>
</div>



